# BPDM Tutorial

For this tutorial we will be using ProPublica's COMPASS Dataset.

The original article on discriminatory sentencing practices can be found here:
https://www.propublica.org/article/machine-bias-risk-assessments-in-criminal-sentencing/

An overview of their methodology is here:
https://www.propublica.org/article/how-we-analyzed-the-compas-recidivism-algorithm/


We will load our data from ProPublica's github repository here:
https://github.com/propublica/compas-analysis

Our analysis will be done in python, using a number of useful open source packages commonly used for data science tasks:

> __Numpy__ Python's scientific computing package. http://www.numpy.org/

> __Pandas__ A very useful data analysis and manipulation package http://pandas.pydata.org/

> __Scikit-learn__ A comprehensive machine learning library http://scikit-learn.org/stable/

> __Matplotlib__ Package for creating charts and other visualizations https://matplotlib.org/


Import these packages by running the cell below. (You can run a cell by selecting it and pressing shift+enter).

In [15]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt
%matplotlib inline

First we will load the Compass scores into a Pandas Dataframe.

In [13]:
c = pd.read_csv("https://github.com/propublica/compas-analysis/raw/master/compas-scores-two-years.csv", header=0).set_index('id')
#c = pd.read_csv("/home/caitlin/Downloads/compas-scores.csv", header=0).set_index('id')
c.head()

,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,juv_fel_count,...,v_decile_score,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event,two_year_recid
id,,,,,,,,,,,,,,,,,,,,,
1,miguel hernandez,miguel,hernandez,2013-08-14,Male,1947-04-18,69,Greater than 45,Other,0,...,1,Low,2013-08-14,2014-07-07,2014-07-14,0,0,327,0,0
3,kevon dixon,kevon,dixon,2013-01-27,Male,1982-01-22,34,25 - 45,African-American,0,...,1,Low,2013-01-27,2013-01-26,2013-02-05,0,9,159,1,1
4,ed philo,ed,philo,2013-04-14,Male,1991-05-14,24,Less than 25,African-American,0,...,3,Low,2013-04-14,2013-06-16,2013-06-16,4,0,63,0,1
5,marcu brown,marcu,brown,2013-01-13,Male,1993-01-21,23,Less than 25,African-American,0,...,6,Medium,2013-01-13,NaN,NaN,1,0,1174,0,0
6,bouthy pierrelouis,bouthy,pierrelouis,2013-03-26,Male,1973-01-22,43,25 - 45,Other,0,...,1,Low,2013-03-26,NaN,NaN,2,0,1102,0,0